body {
  background: linear-gradient(-45deg, #000, #0A3871, #0a3871a9, #F3F5FC);
  background-size: 400% 400%;
  animation: colors 15s ease-in-out infinite;
  background-position: center;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 12px;            
}
body::-webkit-scrollbar-track {
  background: linear-gradient(-45deg, #515557, #0A3871, #0a3871a9, #181a19);
}
body::-webkit-scrollbar-thumb {
  background-color:linear-gradient(45deg, #23a5d546, #23d5ab6b);
  border-radius: 24px;
  border: solid 1px #ffffff36;
}

main {
  visibility: hidden;
} 
@keyframes colors {
  0% {
    background-position: 0% 50% ;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}