.container {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}

p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-shadow: black 0.1em 0.1em 0.2em
}

.aviso {
  margin-top:5px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

.container .container-left .aviso {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
#img-exclamacao {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-left: 10px;
}
